@model List<WEBLAPTOP.Models.Nhanvien>
@{
    ViewBag.Title = "Nhanvien";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}
    <style>
        #Datatables thead tr th {
            text-align: center
        }

       
        .anh img {
            width: 100px;
        }

        .action {
            margin-top: 200px
        }

        #SetAdminList td {
            margin-top: 100px;
        }

        .content {
            margin-left: 300px;
        }
  
</style>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách nhân viên</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 style="padding-bottom:15px;color:red;" class="box-title">Danh sách hiển thị Nhân Viên</h3>
                        <a href="#" class="btn btn-primary" onclick="them()">Add</a>
                    </div>
                    <!-- /.box-header -->

                    <table class="dataTable table table-striped table-bordered" id="Datatables">
                        <thead>
                            <tr>
                                <th>Tên nhân viên</th>
                                <th>Chức vụ</th>
                                <th>Action(Edit)</th>
                                <th>Action(Delete)</th>

                            </tr>
                        </thead>

                        <tbody id="SetAdminList">
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.tenNV</td>
                                        <td>@item.Chucvu</td>
                                        <td class="action" style="text-align:center">
                                            <button onclick="return getbymaNV(@item.maNV);" class="btn btn-warning fa fa-pencil"></button>
                                        </td>
                                        <td class="action" style="text-align:center;">
                                            <a class="btn btn-danger fa fa-trash" onclick="return xoa(@item.maNV);"></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @*chạy thư viện trước*@
                <script src="~/Asset/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
                <script src="~/Asset/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
                <script src="~/Asset/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
                <script src="~/Asset/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
                @*Xong mới chạy table*@
                
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <form>
                    <div class="modal-body">
                        @*<label>Mã Nhân Viên</label>
                        <input type="text" id="maNV" placeholder="nhap ma nhan vien" class="form-control" />*@
                        <br />
                        <label>Tên Nhân Viên</label>
                        <input type="text" id="tenNV" placeholder="nhap ten nhan vien" class="form-control" />
                        <br />
                        <label>Chức Vụ</label>
                        <input type="text" id="Chucvu" placeholder="nhap chuc vu" required class="form-control" />
                        <br />

                    </div>
                </form>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary " data-dismiss="modal">Close</button>*@
                    <button type="button" id="btnAdd" onclick="return _add();" class="btn btn-success ">Lưu thông tin </button>

                    <button type="button" id="btnUpdate" onclick="return edit();" class="btn btn-primary">Update</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
</body>
</html>
<script>
    function them() {
        $('#maNV').val('');
        $('#tenNV').val('');
        $('#Chucvu').val('');
        $('#btnAdd').val('show');
        $('#myModal').modal("show");//hien thi table
        $('.modal-title').html('Thêm thông tin');//them thong tin
        $('#btnUpdate').hide();
    }
    //
    function _add() {
        var obj = {
           maNV:$('#maNV').val(),
            tenNV: $('#tenNV').val(),
            Chucvu: $('#Chucvu').val()
           
        }
        $.ajax({
            url: "/Admin/Nhanvien/create",
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                // $('#myModal').modal('hide');

                location.reload();//load lai trang
                alert("đã thêm thành công");
                //window.location = data.action;

            },
            error: function (errmessage) {
                alert(errmessage.responseText);
            }
        });
    }
    function getbymaNV(maNV) {
        $.ajax({
            type: 'POST',
            url: '/Nhanvien/get',
            dataType: 'json',
            data: {
                maNV:maNV
            },
            success: function (data) {
                 $('#maNV').val(data.dt.maNV);
                $('#tenNV').val(data.dt.tenNV);
                $('#Chucvu').val(data.dt.Chucvu);
               
                //
                $('#myModal').modal('show');
                $('#btnAdd').hide();
                $('.modal-title').html('Sửa bản ghi');
                $('#btnUpdate').show();
            },
            error: function (data) {

                showmessage("Error:", data.message);
            },

        });
    }
    function edit() {
        var obj = {
            
            maNV: $('#maNV').val(),
            tenNV: $('#tenNV').val(),
            Chucvu: $('#Chucvu').val()
           
        }
        $.ajax({
            url: '/Nhanvien/edit',
            data: JSON.stringify(obj),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert("đã sửa thành công");
                location.reload();

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    //xoa
    function xoa(maNV) {
        var cf = confirm("Bạn có muốn xóa không ?");
        if (cf) {
            $.ajax({
                type: "post",
                url: '/Nhanvien/delete',
                datatype: "json",
                data: {
                    maNV:maNV,//controler
                },
                success: function (data) {
                    location.reload();
                    //alert(data.dt.id);
                    alert("OK ! xóa thành công.");

                },
                error: function (data) {
                    alert("khong thể xóa");
                    showmessage("Error:", data.message);
                },
            });
        }
    }
</script>


