<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create New</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">

            <div class="card-body">
                <table>
                    <tr class="form-group">
                        <th><label for="exampleInputEmail1">Mã Admin</label></th>
                        <th>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mã Admin">
                        </th>
                    </tr>
                    <tr class="form-group">
                        <th>
                            <label for="exampleInputPassword1">Tên Admin</label>
                        </th>
                        <th>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tên Admin">
                        </th>
                    </tr>
                    <tr class="form-group">
                        <th>
                            <label for="exampleInputEmail1">Giới Tính</label>
                        </th>
                        <th>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Giới Tính">
                        </th>
                    </tr>
                    <tr class="form-group">
                        <th>
                            <label for="exampleInputPassword1">Số Điện Thoại</label>
                        </th>
                        <th>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Số Điện Thoại">
                        </th>
                    </tr>
                </table>
            
            </div>
            <!-- /.card-body -->


            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>