 <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview">
            <a href="/Admin/Quanly/Quanly" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Admin/Sanpham/Sanpham" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý sản phẩm</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Nhanvien/Nhanvien" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý nhân viên</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/examples/e-commerce.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý khách hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Donhang/Donhang" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý đơn hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Tintuc/Tintuc" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Quản lý tin tức</p>
                    </a>
                </li>
            </ul>

        </li>
      
    </ul>
</nav>