
@{
    ViewBag.Title = "Thanhtoanshow";
    Layout = "~/Views/Shared/_Layout - Tintuc.cshtml";
}
<style>
    .card {
        margin-left: 200px;
    }

    h2 {
        margin-left: 200px;
    }
    .pay{
        margin-left:200px;
        margin-top:40px;
    }
    .pay button{
        background-color:red;
        margin-left:16px;
    }
    .pay button p{
        text-align:center;
        color:white;
        margin-top:10px;
    }
    
</style>
<h2>Giỏ hàng</h2>
<div class="row">
    <div class="card">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Thành Tiền</th>
                    <th>Lựa Chọn</th>
                </tr>
            </thead>
            <tbody id="dssp">
            </tbody>
        </table>

    </div>
   
</div>
<div class="row">
    <div class="pay">
        <a class="btn btn-danger" href="~/Home/xacnhanthanhtoan">
            Xác nhận đơn hàng
        </a>
    </div>
</div>

<script>
    $(Document).ready(function () {
        $.get("Thanhtoan", function (res) {
            $.each(res, function (i, v) {
                $("#dssp").append("<tr><td>" + v.id + "</td><td>" + v.tensp + "</td><td>" + v.soluong + "</td><td>" +
                    v.dongia + "</td><td>" + v.thanhtien + "</td><td><a href='xoagiohangsp/" +
                    v.id + "'class='btn btn-danger'><i class ='fa fa-trash'>Xoa</i></a></td></tr>");
            });
        });

    });
</script>